<h1>Listing Recipes</h1>

<%= link_to 'New Recipe', path_customize_path_path, :'data-role' => "button", :'data-theme' => "b"  %>

<ul data-role="listview" data-filter="true" data-filter-placeholder="Search by name...." data-inset="true">
    <% @recipes.each do |recipe| %>
        <!--
        <td><%#= recipe.name %></td>
        <td><%#= link_to 'Show', recipe %></td>
        <td><%#= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%#= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
        <li><%= link_to recipe.name, path_client_form_path(:view_recipe => recipe), class: "ui-button" %></li>
    <% end %>
</ul>

<br>

