<h1>Recipe Survey</h1>

<%= helper_load_recipe %>

<%= form_tag :action => 'parse_client', :method => 'post' do %>
    <ul id="org"></ul>
    <%= submit_tag("Submit") %>
<%end%>

<%= link_to 'Create Rules', path_customize_path_path %>
