<h1>Create Recipe</h1>

<p id="notice"><%= notice %></p>

<%= form_tag :action => 'parse_path', :method => 'post' do %>

    Recipe Name: <%= text_field_tag :recipe_name, :required => true%>
    <br>

    <INPUT type="button" value="Add Rule" onclick="initRule(org)" />
    <div id="org"></div>
    <%= submit_tag("Submit") %>
<% end%>
