<h1>Suggestion</h1>

<p><%=@answers_array.to_sentence%></p>

<%= link_to 'List Recipes', recipes_path, :'data-role' => "button", :'data-theme' => "b" %>

<%#= link_to 'Redo survey', path_client_form_path %>

