<!DOCTYPE html>
<html>
<head>
  <title>SteppingStones</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width"/>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>

</head>
<body>

<div data-role="content" class="jqm-content ui-content" role="main">
<%= yield %>
</div>

</body>
</html>
